.align-center
    display block
    margin 0 auto

.token.keyword
    color #cc99cd

blockquote
    color #9c27b0
    border-color #9c27b0
    padding-top .1rem
    padding-bottom .1rem
    font-size 1rem

.go-to-top
    background-color #fff
    padding 6px