$accentColor = #9c27b0 // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

body {
  background: #f5f5f5;
}

.common-class {
  .navbar {
    border-bottom: 1px solid #fff;
  }
  .sidebar {
    color: #fff;
    background: $accentColor;
    border: none;
    a {
      color: #fff;
      &.sidebar-link.active {
        border-left-color: #fff;
      }
    }
  }
}