// Theme's Palette
@import("D:/Github/blog/node_modules/_@vuepress_theme-blog@2.3.3@@vuepress/theme-blog/styles/palette.styl")

// User's Palette
@import("D:/Github/blog/blog/.vuepress/styles/palette.styl")