// Theme's Palette
@import("/Users/yangpeng/Blog/node_modules/_@vuepress_theme-blog@2.3.3@@vuepress/theme-blog/styles/palette.styl")

// User's Palette
@import("/Users/yangpeng/Blog/blog/.vuepress/styles/palette.styl")